*{
    font-family: 'Baloo Da 2', cursive;
    font-size: x-large;
    padding: 0;
    margin: 0;
}
body{
    background-color: #090c15;
}
header{
    background-color: #233056;
    height: 6rem;
}
.a1,.a2,.a3{
    padding: 0.2rem;
    text-decoration: none;
    cursor: pointer;
    color: blanchedalmond;
    position: relative;
    display: inline-block;
    left: 10%;
    top: 2.7rem;
    font-size: 21px;
}
#h333{
    color: #fff;
    width: 34rem;
    position: relative;
    left: 1rem;"
}    
#logo{
    width: 3rem;
    position: relative;
    border-radius: 44%;
    top: 0.5rem;
    left: 30rem;
}
#headline{
    display: inline-block;
    color: #fff;;
    position: relative;
    left: 15rem;
    font-size: xxx-large;
    top: 0rem;
}

#this,a:hover{
    text-decoration: underline;
    color: white;
}
footer{
    background-color: #233056;
    text-align: center;
}
.container{
    display: inline-block;
    
}
footer .container .container1 img{
    width: 0.9rem;
    border-radius: 7rem;
    position: relative;
    top: 0.2rem;
}
.container p{
    display: inline-block;
    color: white;
}
.container1,.container2{
    display: inline-block;
    
}
.main1 p{    
    color: white;
    position: relative;
    display: inline-block;
    top: -2rem;
    width: 17rem;
    text-align: justify;
    left: 18rem;
}
.main img{
    width: 7rem;
    position: relative;
    left: 4rem;
    top: 0.5rem;
    border-radius: 1rem;
}
.main2 h1 a{
    font-size: xxx-large;
    text-decoration: none;
    color: wheat;
    position: relative;
    top: 3.9rem;
    border-radius: 5rem;
    background-color: #026e00;
}
.main2 {
    text-align: center;
    height: 9rem;
}
.main2 h1 a:hover,.main1 p a:hover{
    background-color: rgb(31, 30, 30);
}
.main1 p a{
    text-decoration: none;
    color:rgb(235, 215, 215);
}
.main3 {
    color: white;
    display: inline-block;
}
.main3 p{
    display: inline-block;
    position: relative;
    left: 1.9rem;
}
.main3 img{
    width: 6.2rem;
    position: relative;
    top: 0.5rem;
    border-radius: 7rem;
    padding: 2rem;
    left: -2rem;
}
.main3 h3{
    position: relative;
    left: 2rem;
    top: 1rem;
}
#btn{
    width: 2rem;
    position: relative;
    left: 0rem;
    top: -4rem;
}
#btn:hover{
    cursor: pointer;
}
#backbtn{
    width: 2rem;
    position: relative;
    left: 0rem;
    display: inline;
    top: -4rem;
}
#backbtn:hover{
    cursor: pointer;
}
.a1::after,.a2::after{
    content: "|";
    padding: 0 0.3em 0 1.1em;
    color: #999;
}
#theme,#the{
    filter: brightness(0) invert(1);
    width: 1.1rem;
    position: relative;
    left: 25rem;
    top: 2.7rem;
    cursor: pointer;
}
#dark{
    width: 1.1rem;
    position: relative;
    left: 25rem;
    top: 2.7rem;
    cursor: pointer;
}
/* @keyframes anim_body {
    from{
        background-color: #090c15;
    }
    to{
        background-color: #fff;
    }
}
@keyframes anim_header {
    from{
        background-color: #233056;
    }
    to{
        background-color: #333;
        
    }
}

@keyframes anim_footer {
    from{
        background-color: #233056;
    }
    to{
        background-color: #333;
    }
}

@keyframes anim_main1_p {
    from{
        color: white;
    }
    to{
        color: #333;
    }
}
@keyframes anim_main1_h1_a {
    from{
        color: wheat;
    }
    to{
        color:     #fff;
    }
}
@keyframes anim_main3_p {
    from{
        color: white;
    }
    to{
        color: #333;
    }
}
@keyframes anim_h3_3 {
    from{
        color: white;
    }
    to{
        color: #333;
    }
}
@keyframes animation {
    from{
        color: white;
    }
    to{
        color: #333;
    }
}
/* ----------------------- */
/* @kefryframes rev_anim_body {
    om{
        background-color: #fff;
    }
    to{
        background-color: #090c15;
    }
}
@keyframes rev_anim_header {
    from{
        background-color: #333;
    }
    to{
        background-color: #233056;
    }
}

@keyframes rev_anim_footer {
    from{
        background-color: #333;
    }
    to{
        background-color: #233056;
    }
}

@keyframes rev_anim_main1_p {
    from{
        color: #333;
    }
    to{
        color: white;
    }
}
@keyframes rev_anim_main1_h1_a {
    from{
        color:#fff;
    }
    to{
        color: wheat;
    }
}
@keyframes rev_anim_main3_p {
    from{
        color: #333;
    }
    to{
        color: white;
    }
}
@keyframes rev_anim_h3_3 {
    from{
        color: #333;
    }
    to{
        color: white;
    }
}
@keyframes rev_animation {
    from{
        color: #333;
    }
    to{
        color: white;
    }
}
@keyframes anim_wrapper_id {
    from{
        background-color: #090c15;
    }
    to{
        background-color: #fff;
    }
}
@keyframes rev_anim_wrapper_id {
    from{
        background-color: #fff;
    }
    to{
        background-color: #090c15;
    }
}  */
.theme-h3{
    color:#333;
}
.theme-h-3{
    color:#333;
}
.main1_p_theme{
    color:#333;
}
.image{
    content: url('dar.webp');
}
.theme-header{
    background-color:#333 ;
}
.theme-wrapper_id{
    background-color: #fff;
}
.theme-footer{
    background-color: #333;
}
.theme-main1_p{
    color:#333;
}
.theme-main_id{
    color:#333;
}
.theme_of_main1p{
    background-color: #333;
    border-radius: 1rem;
    padding: 1rem 2rem;
}
.theme-h3{
    background-color:#cb2c2c;
    border-radius: 39rem;
    color:#333;
}
.theme_of_main1p{
    color:#333;
}
.theme-main2-h1-a{
    color:#fff;
}
/* ------------------------ */

/* ////// --Travel-Book--  ///// */
form{
    text-align: center;
    display: grid;
    width: 36rem;
    position: relative;
    left: 12rem;
    top: 0rem;
    padding: 3rem;
    height: 17rem;
}
input{
    text-align: center;
    display: inline-block;
    position: relative;
    border-radius: 5rem;
    border-top-width: 0.5rem;
    background-color: #dfd9d9;
    width: 34rem;
}
#submit,#inputsubmit{
    position: relative;
    top: 1.5rem;
    width: 31rem;
    left: 2.7rem;
    border-radius: 5rem;
    background-color: #cb2c2c;
    color: white;
    cursor: pointer;
}
#submit:hover,#inputsubmit:hover{
    background-color: red;
}
@media (max-width : 320px) {
    #headline{
        left:2rem;
    }
    .main img{
        display: none;
    }
    .main1 p{
        left: 0.5rem;
        top: 3rem;
        width: 12rem
    }
    .main2 h1 a {
        top: 6.9rem; 
    }
    #backbtn{
        display: none;
    }
    #btn{
        display: none;
    } 
    #logo {
        left: 5rem;
    }
    #the, #theme {
        left: 10.7rem;
        top: -7rem;
    }
    .main3 h3{
            left: 0.5rem;
    }
    .main3 p{
        left: 0.5rem;
    }
     .a1,.a2,.a3{ 
        left: 4%;
        top: -0.3rem;
        font-size: 19px;
    }
    .container{
        margin-top: 2rem;
    }
    .main3{
        margin-top: 3rem;
    }
    form{
        width: 21rem;
        left: -14rem;
    }
    input{
        width: 11rem;
        left: 6.5rem;
    }
    #submit,#inputsubmit{
        top: 1.2rem;
        width: 9rem;
        left: 12.6em;
    }
    input{
        width: 9rem;
    }
    #h333{
        width: 11rem;
        left: 12rem;
    }
    header{
        height: 8rem;
    }    
    .main3 h3 {
       left: 0.1rem;
       width: 13rem;
    }
}   
@media (min-width:321px) and (max-width:375px) {
    form {
        left: 0rem;
        width: 9rem;
    }
    input {
        width: 10rem;
        margin-left: 0rem;
    }
    #submit, #inputsubmit {
        width: 10rem;
        left: 0.7rem;
        top: 1rem;
    }    
    #the, #theme {
        left: -13rem;
        top: 1rem;
    }
    #logo {
        left: 10rem;
    }
    #headline {
        left: -5rem;
    }
    #h333{
        width: 10rem;
        left: 1rem;
    }
    header {
        height: 9rem;
    }
    .main img{
       display: none;
    }
    .main1 p{
       top: 3rem;
       width: 13rem;
       left: 2rem;
    }
    #backbtn,#btn{
       display: none;
    }
    header {
      height: 8rem;
    }
    .main3 h3 {
      left: 2rem;
      width: 13rem;
    }
}
@media (min-width:376px) and (max-width:425px) {
    form {
        left: 0rem;
        width: 12rem;
    }   
    #headline {
        left: -3rem;
    }
    #logo {
        left: 12rem;
    }
    #h333{
        width: 10rem;
    }
    input{
        width: 6rem;
    }
    #submit,#inputsubmit{
        top: 0.5rem;
        width: 8rem;
        left: 1.7rem;
    }
    #theme,#the{
        left: -14rem;
    }
        header {
        height: 9rem;
    }
    .main img{
       display: none;
    }
    .main1 p{
       top: 3rem;
       width: 13rem;
       left: 2rem;
    }
    #backbtn,#btn{
       display: none;
    }
    header {
      height: 8rem;
    }
    .main3 h3 {
      width: 13rem;
    }
}
@media (min-width:426px) and (max-width:768px) {
    #headline{
        left: 6rem;
    }
    #logo{
        left: 22rem;
    }
    input{
        width: 15rem;
        margin-left: 0rem;
    }
    .a1,.a2,.a3{
        left: 0%;
    }
    #the,#theme{
        left: -28rem;
    }
    #submit,#inputsubmit{
        width: 11rem;
        left: 1.7rem;
        top: 1rem;
    }
    #h333{
        left: 1rem;
        width: 10rem;
    }
    form{
        left: 6rem;
        width: 12rem;
    }
    .container{
        margin-top: 2rem;
    }
    .main1 p{
        top: 0rem;
        width: 13rem;
        left: 6rem;
    }
    .main3 p{
        left: -1.7rem;
        width: 4.2rem;
    }
    #backbtn{
       left: -2rem;
       top: 0rem;
       width: 1.2rem;
    }
    #btn{
        left: 0rem;
        top: -6rem;
        width: 1.2rem;
    }
    .main3 h3 {
       left: 1rem;
       width: 14rem;
   }
   .main3 img {
       width: 1.2rem;
       left: 0.3rem;
   }
   
}
@media (min-width:769px) and (max-width:1024px) {
    form{
        width: 32rem;
        left: 0rem;
    }
    #theme, #the {
        left: -28rem;
    }    
    #submit,#inputsubmit{
        top: 0.5rem;
    }
    #h333{
        width: 31rem;
    }
    .main1 p {
       left: 12rem;
   }
   .main3 img {
       width: 1.2rem;
       left: 0rem;
   } 
   #backbtn {
       width: 1.3rem;
       top: -1rem;
  } 
  #btn {
       width: 1.3rem;
       top: -1rem;
  }  
    
}
